<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Message sent</h1>
        <p class="lead text-muted">Message sent successfully. Thank you</p>
        <p>
        </p>
    </div>
</section>