@using Mult2.ViewModels;
@model CreateCategoryViewModel

<div class="col-md-8 offset-2">
<h1>Creating your Pets</h1>

<form method="post" asp-action="Create" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" class="form-control" placeholder="Enter Name">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description">Description</label>
        <input asp-for="Description" class="form-control" placeholder="Enter Description">
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
     <div class="form-group">
        <label asp-for="Photo">Photo</label>
        <input asp-for="Photo" type="file" class="form-control" placeholder="Enter Photo">
        <span asp-validation-for="Photo" class="text-danger"></span>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
</form>