
@{
    ViewData["Title"] = "Home Page";
}

<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Mult2</h1>
        <p class="lead text-muted">
            is a platform for presenting your pets.
            Each pet is an individual, tell us about it.
        </p>
        <p>
            <a asp-controller="Emergency" asp-action="Create" class="btn btn-primary my-2 " width="6" height="25">Create pets!</a>
            <a href="#" class="btn btn-secondary my-2">Login</a>
            <a href="#" class="btn btn-primary my-2">Registered</a>
            
            
        </p>
    </div>
</section>

<div class="album py-5 bg-light">
    <div class="container">

        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                   @* <img class="card-img-top" data-src="фото" alt="Card image cap">*@
                    <img class="card-img-top" src="https://images.pexels.com/photos/58997/pexels-photo-58997.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" width="100%" height="225" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                            </div>
                            <small class="text-muted">12 265 likes</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="https://images.pexels.com/photos/7342348/pexels-photo-7342348.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" width="100%" height="225" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                            </div>
                            <small class="text-muted">11 765 likes</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="https://images.pexels.com/photos/551628/pexels-photo-551628.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" width="100%" height="225" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                            </div>
                            <small class="text-muted">11 265 likes</small>
                        </div>
                    </div>
                </div>
            </div>
             </div>
            </div>


 
